#result-table {
  color: white;
}

td {
  text-align: center;
}

#table-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#finish-game-div{
  display: flex;
  flex-direction: column;
}
