#result-table {
  color: white;
  height: 200px;
  width: 500px;
}

#table-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

#finish-game-div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#button-div {
  justify-content: space-evenly;
  display: flex;
  padding-bottom: 40px;
}

.reset-button {
  font-family: 'Quicksand', sans-serif;
  height: 100px;
  width: 150px;
  background-color: white;
  font-size: 20px;
  color: darkgreen;
}

td {
  text-align: center;
  width:100px;
}

td.position0 {
  font-size: 40px;
  color: gold;
}

td.position1, td.position2, td.position3 {
  font-size: 25px;
  color: white;
}
