div#pairs-table-container {
  grid-column-start: 2;
  grid-column-end: span 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div#pairs-table {
    background-image: url(./table.jpg);
    background-size: cover;
    min-height: 320px;
    min-width: 725px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}
