#players-selector-container {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  margin-top: 20px;
  background-color: darkgreen;
  color: white;
  min-height: 500px;
  min-width: 725px;
}

.players-selector-div {
  grid-column-start: 2;
  grid-column-end: span 1;
  text-align: center;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 10px;
}

#players-selector-btns-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.players-selector-btn {
  font-family: 'Quicksand', sans-serif;
  height: 100px;
  width: 150px;
  background-color: white;
  font-size: 20px;
  color: darkgreen;
}
