button.tile-button {
  height: 70px;
  min-height: 70px;
  width: 45px;
  min-width: 45px;
  margin: 8px;
  text-color: white;
  background-image: url("Card.png");
  background-size: 100% 100%;
  padding-left: 10px;
  transition: 1s all;
}

#tile-div {
  height: 70px;
  width: 55px;
}
