#about-container {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  min-width: 725px;
}

#about-heading-div {
  grid-column-start:2;
  grid-column-end: span 1;
  text-align: center;
}

#about-heading {
  grid-column-start:2;
  grid-column-end: span 1;
  text-align: center;
  margin:0;
}

#container-about-center {
  grid-column-start: 2;
  grid-column-end: span 1;
  min-height: 500px;
  min-width: 725px;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px black solid;
}

#container-about-left {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  grid-column-start: 1;
  grid-column-end: span 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contributors {
  padding-top: 1.3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#container-about-right {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  grid-column-start: 3;
  grid-column-end: span 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  height: 5em;
  width: 5em;
}

#project-div {
  padding-top: 1.3em;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

.brief-list {
  list-style: circle;
  width: 16em;
}

#mvp-extensions-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
