body {
  display: flex;
  flex-direction: column;
  color: black;
  /* background-image: url("https://media.gettyimages.com/photos/shuffling-cards-picture-id184974614?b=1&k=6&m=184974614&s=612x612&w=0&h=fBH0x7joOqNqAQsWiaMHvLqK3OUYZwX04hpDpJlaVtk="); */
  /* background-size: cover; */
}

h1 {
    display: flex;
  justify-content: center;
}

#rules {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

#rules-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}
